@{
    ViewData["Title"]="Login";
}
<div>
    <h1>LOGIN</h1>
    <p>Ingrese usuario y contraseña</p>    
</div>
<div>
    <form asp-action="Login" method="post">
            <label>
                Usuario:
                <input type="text" name="usuario" id="usuario">
            </label><br><br>
            <label>
                Contraseña:
                <input type="password" name="pass" id="pass">       
            </label><br>
            <input type="submit" name ="Entrar"><br>
    </form>
</div>    