@{
    ViewData["Title"]="Registra";
}
<div>
    <h1>REGISTRO</h1>
    <p>Ingrese los datos de la nueva persona</p>    
</div>
<div>
    <form action="Registrar" method="post">
            <label>
                Userid:
                <input type="text" name="usuario_registra">
            </label><br><br>
            <label>
                Nombre:
                <input type="text" name="nombre_registra">                
            </label><br><br>
            <label>
                Password:
                <input type="password" name="pass_registra">
            </label><br><br>
            <label>
            <input type="submit" name ="XD" class="btn btn-success">
            <a href="ViewSU" class="btn btn-warning">Regresar</a>
    </form>
</div> 